body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #6b5b95;
  color: #fff;
}

main {
  padding: 20px;
}

h1,
h2,
h3 {
  color: #9b859d;
}

a:link {
  color: #9b859d;
}

a:hover,
a:active {
  color: #fff;
}

.men {
  font-weight: bold;
  color: lightgray;
}
